@viewport {

    width: device-width;

 }
 @media screen and (min-width: 696px) {
    .full-width-img {
        margin: auto;
        width: 90%;
    }
 }
 .calculadora{
    background-color: #f2f2f2;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 362px;
    height: 374px;
}
.button{
    background-color: #fff;
    width: 75px;
    height: 59px;
    border: 1px solid #000;
    font-size: 20px;
    cursor: pointer;
}
#tabela{
    width: 323px;
    height: 59px;
    border: 1px solid #000;
}